<!DOCTYPE html>
<html lang="en">
<head>
  <title>JAVATTACK LEVEL PAGE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/mvp.css">
  
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>JavAttack</h1>
  </div>
</div>


<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">LEVEL 1</div>
        <button type="button" class="btn btn-default">Play</button>
        <div class="panel-footer">Dive into syntax, methods, and parameters</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">LEVEL 2</div>
<button type="button" class="btn btn-default">Play</button>
<div class="panel-footer">Let's learn about strings, loops, and variables</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">LEVEL 3</div>
        <button type="button" class="btn btn-default">Play</button> <div class="panel-footer">How do we take in input from a user?</div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">LEVEL 4</div>
        <button type="button" class="btn btn-default">Play</button>
        <div class="panel-footer">So you think you know about functions and objects?</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">LEVEL 5</div>
        <button type="button" class="btn btn-default">Play</button>
        <div class="panel-footer">Ready to jump into if/else and boolean logic?</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">LEVEL 6</div>
        <button type="button" class="btn btn-default">Play</button>
        <div class="panel-footer">Let's test what you've learned so far!</div>
      </div>
    </div>
  </div>
</div><br><br>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/home">JavAttack</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="#">Leaderboard</a></li>
        <li><a href="/play">Learning</a></li>
        <li><a href="#">Teacher View</a></li>
        <li><a href="/forum">Forum</a></li>
      </ul>

    </div>
  </div>
</nav>

</body>
</html>
