<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/../assets/stylesheets/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <title>JavAttack</title>
</head>

<body>
    <div class="container">
        <div class="center">
        <header>
            <h1 class="text-center">JavAttack</h1>
            <%- include ('partials/nav.ejs') -%>
        </header>
    </div>
    <div class="game">
        <h1>Questions for level 1!</h1>

        <h2>1. Finish the declaration for the main method: public static ____ main(String [] args)</h2>
        <button class="collapse">Show answer!</button>
        <div class="collapseContent">
            <p>void</p>
        </div>
        <h2>2. Finish the code to print out the message on a new line: System.out._______('Hello World')</h2>
        <button class="collapse">Show answer!</button>
        <div class="collapseContent">
            <p>println</p>
        </div>
        <h2>3. What is the parameter for this code? public string garden(peach)</h2>
        <button class="collapse">Show answer!</button>
        <div class="collapseContent">
            <p>peach</p>
        </div>
        <h2>4. Declare a character variable with the name letter</h2>
        <button class="collapse">Show answer!</button>
        <div class="collapseContent">
            <p>char letter</p>
        </div>
        <h2>5. Declare a float variable with the name peanut</h2>
        <button class="collapse">Show answer!</button>
        <div class="collapseContent">
            <p>float peanut</p>
        </div>
        <h2>6. What kind of variable allows a lot of characters?</h2>
        <button class="collapse">Show answer!</button>
        <div class="collapseContent">
            <p>string</p>
        </div>
        <h2>7. Declare a string variable named sentence</h2>
        <button class="collapse">Show answer!</button>
        <div class="collapseContent">
            <p>String sentence</p>
        </div>
        <h2>8. Declare a class named House</h2>
        <button class="collapse">Show answer!</button>
        <div class="collapseContent">
            <p>Class house</p>
        </div>
        <h2>9. Declare an array of integers named id</h2>
        <button class="collapse">Show answer!</button>
        <div class="collapseContent">
            <p>int [] id</p>
        </div>
        <h2>10. Finish the code to print out the message on the same line: System.out._______('Hello World')</h2>
        <button class="collapse">Show answer!</button>
        <div class="collapseContent">
            <p>print</p>
        </div>
    </div>

    <script>
        var coll = document.getElementsByClassName("collapse");
        var i;
        
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
            } else {
              content.style.display = "block";
            }
          });
        }
        </script>
</body>
    
</html>

 