<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/../assets/stylesheets/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <title>JavAttack</title>
</head>

<body>
    <div class="container">
        <div class="center">
        <header>
            <h1 class="text-center">JavAttack</h1>
            <%- include ('partials/nav.ejs') -%>
        </header>
    </div>
    <h1>Questions for level 1!</h1>

    <h2>1. Fill in the blank to declare the scanner: Scanner scan = ___ Scanner(System.in)</h2>
    <button class="collapse">Show answer!</button>
    <div class="collapseContent">
        <p>new</p>
    </div>
    <h2>2. What is the name of the scanner? Scanner read = new Scanner(System.in)</h2>
    <button class="collapse">Show answer!</button>
    <div class="collapseContent">
        <p>read</p>
    </div>
    <h2>3. Fill in the blank while having the scanner named scan: String name = ____.nextLine();</h2>
    <button class="collapse">Show answer!</button>
    <div class="collapseContent">
        <p>scan</p>
    </div>
    <h2>4. Fill in the blank for taking in an int as an input: scan._______();</h2>
    <button class="collapse">Show answer!</button>
    <div class="collapseContent">
        <p>nextInt</p>
    </div>
    <h2>5. Fill in the blank for taking in a float as an input: scan._________();</h2>
    <button class="collapse">Show answer!</button>
    <div class="collapseContent">
        <p>nextFloat</p>
    </div>
    <h2>6. Fill in the blank for the import of the scanner class: import java.util._______;</h2>
    <button class="collapse">Show answer!</button>
    <div class="collapseContent">
        <p>Scanner</p>
    </div>
    <h2>7. Fill in the blank in order to create a variable string to be taken as an input: ______ sentence = scan.nextLine();</h2>
    <button class="collapse">Show answer!</button>
    <div class="collapseContent">
        <p>String</p>
    </div>
    <h2>8. Fill in the blank for taking in a string for a scanner named scan: _____________();</h2>
    <button class="collapse">Show answer!</button>
    <div class="collapseContent">
        <p>scan.nextLine</p>
    </div>
    <h2>9. Fill in the blank for taking in a float for a scanner named scan: ______________();</h2>
    <button class="collapse">Show answer!</button>
    <div class="collapseContent">
        <p>scan.nextFloat</p>
    </div>
    <h2>10. Fill in the blank to import the scanner class: ______ java.util.Scanner</h2>
    <button class="collapse">Show answer!</button>
    <div class="collapseContent">
        <p>import</p>
    </div>

    <script>
        var coll = document.getElementsByClassName("collapse");
        var i;
        
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
            } else {
              content.style.display = "block";
            }
          });
        }
        </script>
</body>
    
</html>