* {
    font-family: 'Avenir', sans-serif;
}

:root {
    margin: 50px;
}

#header-title{
    border-radius: 10px;
    padding: 1em;
    margin-bottom:  2em;
    color: #8bc34a;
    background-color: #e6e6e6;
    font-weight: bold;
}

#login-div{
    border-radius: 10px;
    background-color: #e6e6e6;
    color: #8bc34a;
}
#registerDiv{
    border-radius: 10px;
    background-color: #e6e6e6;
    color: #8bc34a;
}

body{
    background-color: #00517cff;
}

form{
    background-color: #e6e6e6;
}

.form-floating{
    padding-top: 5px;
    border-radius: 10px;
}

#subTitle{
    border-radius: 10px;
    padding: 1em;
    color: #8bc34a;
    font-weight: bold;
}
#headerRegister{
    font-weight: bold;
}

#headerLogin{
    font-weight: bold;
}

#returnButton{
    position: relative;
    right: 20em;
}

 .row.content {height: 1500px}
    
 .sidenav {
   background-color: #f1f1f1;
   height: 100%;
 }
 
 footer {
   background-color: #555;
   color: white;
   padding: 15px;
 }
 
 @media screen and (max-width: 767px) {
   .sidenav {
     height: auto;
     padding: 15px;
   }
   .row.content {height: auto;} 
 }
 .collapse{
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    max-width: 150px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;

 }
 .active, .collapsible:hover {
    background-color: #555;
  }
 .collapseContent{
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    max-width: 150px;
 }