* {
    font-family: 'Avenir', sans-serif;
}

:root {
    margin: 50px;
    background-color: #00517cff;
}

#header-title{
    border-radius: 10px;
    padding: 1em;
    margin-bottom:  2em;
    color: #8bc34a;
    background-color: #e6e6e6;
    font-weight: bold;
}

#login-div{
    border-radius: 10px;
    background-color: #e6e6e6;
    color: #8bc34a;
}
#registerDiv{
    border-radius: 10px;
    background-color: #e6e6e6;
    color: #8bc34a;
}

body{
    background-color: #00517cff;
}

form{
    background-color: #e6e6e6;
}

.form-floating{
    padding-top: 5px;
    border-radius: 10px;
}

#subTitle{
    border-radius: 10px;
    padding: 1em;
    color: #8bc34a;
    font-weight: bold;
}
#headerRegister{
    font-weight: bold;
}

#headerLogin{
    font-weight: bold;
}

#returnButton{
    position: relative;
    right: 20em;
}
